@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

* {
    font-family: "Roboto Slab"
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab"
}

.title img {
    width: 30%;
    height: 30%;
    display: block;
    margin: auto;
}

.title{
    text-align: center;
    display: block;
    color: whitesmoke;
}

.title p {
    text-align: center;
    margin: 10;
    margin-left: 20px;
    padding: 0;
    display: block;
    font-size: 20px;
}

.title p a{
    color: whitesmoke;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: none;
    width: auto;
    height: auto;
}

.title p a:hover{
    background-color: #111;
    border-radius: 25px;
    transition: 150ms;
    font-size: 25px;
}

.title p a:visited{
    text-decoration: none;
}

.title p img{
    width: 2%;
    height: 2%;
    display: inline;
}

